body{
    font-family: 'Open Sans', sans-serif;
    margin:0;
}
h1{
    font-size:50px;
}
.orange{
    color:orange;
}
.welcome{
    display:flex;
    margin-bottom:150px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width:50%;
    padding:10px 80px;
}
.half-width img{
    width:100%;
    padding-left:10px;
}
.link-button{
    text-decoration: none;
    color:white;
    font-weight: 650;
    background-image: linear-gradient(orange,tomato);
    padding:8px 10px;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
